@model MyDiary.UI.ViewModels.ExpenseViewModel
@{
    ViewBag.Title = "Expenses";
}

<div id="expenseDetailsFullDiv">
    <div class="expenseDetails_Outerdiv">

        <div class="expenseDetails_innerdiv">

            <div class="expenseDetails_filterdiv">

                <div class="expenseDetails_filterdiv_date">
                  <span>Select Date </span> 
                    <div><input type="text"  class="datepicker FilteredDate"/></div>
                </div>  
                @*<div class="expenseDetails_filterdiv_type">
                    <span> Select ExpenseType </span>   <div>  @Html.DropDownListFor(model => model.Type, ViewData["ExpenseType"] as IEnumerable<SelectListItem>, new { id = "ddlFilteredExpenseType" })
                </div></div>*@
                <div class="expenseDetails_filterdiv_type">                  
                    <span> Enter ExpenseType </span> <div><input type="text"  class="FilteredType"/></div>             
                </div> 

            </div>
   
            
            <div class="expenseDetails_Summary">
               
            </div>
        </div>

        <div class="diary_activityArea_outerDiv" >
   
            <div class="add_expense_div">

                <div class="diary_activityArea_outerDiv_close">X</div>  
                <div id="expensediv_data">
                    <div>
                       <div>ExpenseType</div>
                        @Html.DropDownListFor(model => model.Type, ViewData["ExpenseType"] as IEnumerable<SelectListItem>, new { id = "ddlExpenseType",@class="DRvalidate" })                      
                        <a id="AddExpenseType" href="#">Add</a>
                    </div>
                    <div>
                        <div>Amount *</div>
                        <div>
                            <input type="text" id ="expensediv_data_amount" class="DRvalidate"/></div>
                    </div>
                    <div>
                        <div>Date *</div>
                        <div>
                            <input type="text" class="datepicker DRvalidate" id="expensediv_data_date" ></div>
                    </div>
                    <div>
                        <div>Description *</div>
                        <div>
                            <input type="text" id="expensediv_data_description" class="DRvalidate"/></div>
                    </div>
                    <div>
                        <div>Comments</div>
                        <div>
                            <input type="text" id="expensediv_data_comments"/></div>
                    </div>
                </div>
                <input type="button" value="Add" id="Expense.Add" />
            </div>

        </div> 

      </div>  
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui") 

@Scripts.Render("~/bundles/Diary")
  
@Scripts.Render("~/bundles/Diary.Expenses")

