@{
    ViewBag.Title = "Home Page";
}


<div ng-app ="homeModule" >

    <div id="homeDetailsContainer" ng-controller="homeController" >
       
        <div class="row-fluid">

             <div class="col-md-6">
                <canvas id="chartByYear" class="chart chart-line" 
                                         chart-data="chartDataByMonth" 
                                         chart-labels="labelsOfMonth"  
                                         chart-legend="true" 
                                         chart-series="diaryChartSeries" 
                                         chart-click="onClick">

                 </canvas> 
            </div>

          </div>

        <div class="row-fluid">

             <div class="col-md-6">
                <canvas id="chartByWeek" class="chart chart-bar" 
                                         chart-data="chartDataByWeek" 
                                         chart-labels="labelsOfWeek"  
                                         chart-legend="false" 
                                         chart-click="onClick">

                 </canvas> 
            </div>

         </div>

    </div>

</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap") 
@Scripts.Render("~/bundles/bootstrap.ui") 
@Scripts.Render("~/bundles/angularjs") 
@Scripts.Render("~/bundles/chart")
@Scripts.Render("~/bundles/angular.ui")
@Scripts.Render("~/bundles/Diary/angularjs")
@Scripts.Render("~/bundles/knockout")
@Styles.Render("~/Content/Diary.Home")
@Scripts.Render("~/bundles/Diary.Home")
