<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My Diary</title>
        <link href="~/diary.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/bootstrap.select")
        @Styles.Render("~/Content/bootstrap.select2")
        @Styles.Render("~/Content/bootstrap.switch")
        @Styles.Render( "~/Content/Diary")
        @Styles.Render("~/Content/themes/base/css")

    </head>
    <body >

        <header>
            <div class="float-left profilemenu"></div>  
            <div class="drmenus"></div>
        </header>

        <div class="mainBody">
            @RenderSection("featured", required: false)
            @*@RenderSection("sitedescription", required: false)*@
            @* <section class="content-wrapper main
            content clear-fix">
                 
                @RenderBody()
            </section>*@
            <div class="mainsection">
                  @RenderBody()
            </div>
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-center">
                    &copy; @DateTime.Now.Year - Koothumadam
                </div>
            </div>
        </footer>

     
        @Scripts.Render("~/bundles/JqueryUIWidget")
        @Scripts.Render("~/bundles/JQueryImageResize")
        @Scripts.Render("~/bundles/JqueryFileUploader") 
        @Scripts.Render("~/bundles/Diary-IBar")      
        
        @RenderSection("scripts", required: false)

    </body>
</html>
