
 @model MyDiary.UI.ViewModels.ExpenseViewModel
 @{
    ViewBag.Title = "Expenses";
 }

@*<script type="text/javascript">

    window.onload = function(){

        var scriptTag = '<script>\n window.addEventListener(\'message\',function(event){\n if (~event.origin.indexOf(\'http://yoursite.com\')) {\n'+
                        '// The data sent with postMessage is stored in event.data\n'+
                        'console.log(event.data);\n'+
                        ' } else {'+
                            'console.log(event.data);\n' +
                        ' };\n' +
                        '});\n <'+
                        '/script>';
        console.log(scriptTag);
        $("#frameid").contents().find("body").append(scriptTag);

       
    };
    function iFrameLoaded() {

        var $ = {};
        $.iFrame = document.querySelector('#frameid');

        //$.iFrame.src = "http://localhost:64888/mydiary/v2/PostData";



        var contentDocument = document.querySelector('#frameid').contentDocument;
        $.iFrame.contentWindow.postMessage('nnnn', '*');
        try {


            // fixing Opera 10.53
            if (contentDocument &&
              contentDocument.body &&
              contentDocument.body.innerHTML == "") {
                // In Opera event is fired second time
                // when body.innerHTML changed from false
                // to server response approx. after 1 sec
                // when we upload file with iframe
                return;
            }
        } catch (error) {
            //IE may throw an "access is denied" error when attempting to access contentDocument
            alert(error);
            return;
        }
        // iframe.contentWindow.document - for IE<7
        var doc = contentDocument || contentDocument.document;
        var innerHtml = doc.body.innerHTML;
        innerHtml = /(\{.*\})/.exec(innerHtml)[0];

        alert(innerHtml);

    }
</script>
<form action="http://localhost:64888/mydiary/v2/PostData" method="post" enctype="multipart/form-data" target="my_iframe">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload" />
    <input type="submit" value="Upload Image" name="submit" />
</form>
    <!-- when the form is submitted, the server response will appear in this iframe -->
    <iframe name="my_iframe" id="frameid" onload="iFrameLoaded()">

    </iframe>*@

<div ng-app ="expenseModule" >

<div id="expenseDetailsFullDiv" ng-controller="expenseController" >

    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-header" data-id= "{{ modalData.id }}">
            <h3 class="modal-title">{{ modalData.title }} </h3>
        </div>
        <div class="modal-body">
           
          <span  >{{ modalData.description }} </span>
          
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">{{ modalData.ok }} </button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{ modalData.cancel }} </button>
        </div>

    </script>

    <div class="expenseDetails_Outerdiv" popover-close>


        <div class="expenseDetails_innerdiv">

            <div class="expenseDetails_filterdiv">

                <div class="expenseDetails_filterdiv_date">
                   <span>Filter by:  </span> 

                    <input
                bs-switch
                ng-model="isSelected"
                type="checkbox"
                switch-active="{{ isActive }}"
                switch-on-text="{{ onText }}"
                switch-off-text="{{ offText }}"
                switch-on-color="{{ onColor }}"
                switch-off-color="{{ offColor }}"
                switch-animate="{{ animate }}"
                switch-size="{{ size }}"
                switch-label="{{ label }}"
                switch-icon="{{ icon }}"
                switch-radio-off="{{ radioOff }}"
                switch-label-width="{{ labelWidth }}"
                switch-handle-width="{{ handleWidth }}"
                switch-wrapper="{{ wrapper }}"
                ng-true-value="'yep'"
                ng-false-value="'nope'"
                switch-inverse="{{ !inverse }}">

                    <div class="row" ng-if="(isSelected === 'undefined') || (isSelected === 'nope')">
                         <div class="col-md-4">
                            <p class="input-group"> 
                             
                                <input type="text"  class="form-control"  datepicker-popup="{{dateFormat}}"  ng-model="Filters.ExpenseDate" is-open="opened" 
                                      
                                  min-date:'minDate'  max-date:'2015-06-22' @*date-disabled="disabled(date, mode)"*@   ng-required="true" close-text="Close"  placeholder="Select a date"/>
                                 <span class="input-group-btn">
                                 <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> 
                            </p>
                        </div>
                    </div>

                    <div class="row" ng-if="(isSelected === 'yep')">

                         <div class="col-md-4">
                             <ui-select  id ="expenseMonth" ng-model ="Filters.ExpenseMonth" theme="select2" style="width:200px;"> 
                                <ui-select-match placeholder="Select a month" >{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="month in months | filter: {name: $select.search}">
                                  <div ng-bind-html="month.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select> 
                                 
                        </div>
                    </div>

                </div>  
                
                <div class="expenseDetails_filterdiv_type">                  
                   <span> Enter ExpenseType  </span> 
                    <div>                             
                           <div class="container" >
                              <div class="row">
                                 <div class="col-sm-6 inner-addon right-addon">
                                    <select id="multipleselect-expensetypes" class="form-control select2-search input" multiple="multiple" style="width:70%" ng-model="Filters.ExpenseTypes" >
                                        
                                       <option  ng-selected="{{expensetype.Type == ExpenseViewModel.ExpenseType}}" 
                                               ng-repeat="expensetype in expenseTypes" ng-if ="expensetype.TypeId > 0"
                                              value="{{expensetype.TypeId}}">
                                                 {{expensetype.Type}}
                                    </option>
                                 </select> 
                                  
                             </div>
                            </div>
                           </div>      
                   </div>             
                </div> 

            </div>
           
            <div class="expenseDetails_Summary">
               <div class="expenseDetails_Summary_Title">Expense Summary ( Total Expenses: {{ ExpenseSummaryViewModel.TotalAmount }} ) 
                  

               </div>
                    <div class="gridStyle" ng-grid="gridOptions"></div>
            </div>
             
            <div class="expenseDetails_Pagination">
                    <pagination total-items="PagingViewModel.TotalItems" ng-model="PagingViewModel.CurrentPage" max-size="PagingViewModel.MaximumNoOfPages" class="pagination-sm" boundary-links="true" rotate="false" num-pages="Paging.numPages"> </pagination>
                   
             </div>

        </div>

        
        <div class="diary_activityArea_outerDiv" >

           

            <div class="add_expense_div">

                <div class="diary_activityArea_outerDiv_close">X</div> 
                 
                <div id="expensediv_data">

                    <div>
                       <div>ExpenseType</div>
                       <div id="expensediv_data_expenseType">
                           
                     <ui-select  id ="expensediv_data_expenseType-select" ng-model="ExpenseViewModel.ExpenseType"  ng-init="ExpenseViewModel.ExpenseType = DropDownInitializer"  theme="select2" >
                            <ui-select-match placeholder="Select One" >{{$select.selected.Type}}</ui-select-match>
                            <ui-select-choices repeat="expensetype in expenseTypes | filter: {Type: $select.search}">
                              <div ng-bind-html="expensetype.Type | highlight: $select.search"></div>
                            </ui-select-choices>
                       </ui-select>   
                           
                         <a  id="AddExpenseType" ng-click="ExpenseTypeActions.Show()">Add</a>  
                           </div>
                    </div>
                   
                    <div id="expensetype_add" ng-show="ExpenseTypeActions.IsAddSectionVisible" >
                        <input type="text"  ng-model="ExpenseTypeViewModel.Type"/>
                         <a ng-click="ExpenseTypeActions.Add()" id="expensetype_save" >Save</a>
                        <a id="expensetype_cancel" ng-click="ExpenseTypeActions.Hide()">Cancel</a> 
                    </div>

                    <div>
                        <div>Amount *</div>
                        <div>
                            
                            <input type="text" ng-model ="ExpenseViewModel.Amount" id ="expensediv_data_amount" class="DRvalidate"/>

                        </div>
                    </div>

                    <div>
                        <div>Date *</div>
                        <div>
                            <input type="text" ng-model ="ExpenseViewModel.ExpenseDate" class="datepicker DRvalidate" id="expensediv_data_date" ></div>
                    </div>

                    <div>
                        <div>Description *</div>
                        <div>
                            <input type="text" ng-model ="ExpenseViewModel.Description" id="expensediv_data_description" class="DRvalidate"/></div>
                    </div>

                    <div>
                        <div>Comments</div>
                        <div>
                            <input type="text"ng-model ="ExpenseViewModel.Comments"id="expensediv_data_comments"/></div>
                    </div>

                </div>

                <input type="button" value="Save" ng-click="ExpenseOperation()" id="btnSaveExpense" />
            </div>

        </div> 

      </div>  
  

</div>

   
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap") 
@Scripts.Render("~/bundles/bootstrap.ui") 
@Scripts.Render("~/bundles/angularjs") 
@Scripts.Render("~/bundles/chart") 
@Scripts.Render("~/bundles/angular.ui")
@Scripts.Render("~/bundles/Diary/angularjs")
@Scripts.Render("~/bundles/select2")
@Styles.Render("~/Content/nggrid")
@Styles.Render("~/Content/select2")

@Scripts.Render("~/bundles/Diary")

@Styles.Render("~/Content/Diary.Expense")
@Scripts.Render("~/bundles/Diary.Expenses")

    